body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    background-color: black;
    color: white
}

header h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.details {
    overflow: hidden;
    padding: 20px;
}

.details h2 {
    font-size: 10px;
    width: 200px;
}

.details img {
    width: 300px;
    object-fit: cover;
}

.detail-container {
    text-align: center;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* img {max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;

} */

@media (min-width: 800px){
    body {
        background-color: rgb(24, 167, 172);

    }
}

@media (max-width: 1200px){
    body {
        background-color: rgb(46, 161, 94);

    }
}